/*ss-gridfield-editable-row--toggle_loaded ss-gridfield-editable-row--toggle_open*/

.cms table.ss-gridfield-table tbody td.ss-gridfield-editable-row--icon-holder {
    width: 24px;
}
/* Image by http://uxrepo.com/icon/edit-by-elusive */
.ss-gridfield-editable-row--toggle {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    /*background-image: url('../images/blockedit.svg');*/
    /*background-size: 30px 30px;*/
    background-color: #b3b3b3;
    -webkit-mask-image: url('../images/blockedit.svg');
    -webkit-mask-size: 100% 100%;
    mask-image: url('../images/blockedit.svg');
    mask-size: 100% 100%;
}
.ss-gridfield-editable-row--toggle:hover { background-color: black; }
.ss-gridfield-editable-row--toggle.ss-gridfield-editable-row--toggle_open { background-color: gray; }

.ss-gridfield-editable-row--row_hide { display: none; }

.ss-gridfield-editable-row--fields .middleColumn {
    max-width: 600px;
}
.cms .ss-gridfield-editable-rows table.ss-gridfield-table tbody tr {
    cursor: auto !important;
}
.cms table.ss-gridfield-table .ss-gridfield-editable-row--fields .mceLayout tr td { padding: 0; }
.cms table.ss-gridfield-table .ss-gridfield-editable-row--fields .mceLayout tbody { background: transparent; }

.ss-gridfield-editable-row--reference, 
.ss-gridfield-editable-row--reference:hover, 
.ss-gridfield-editable-row--row, 
.ss-gridfield-editable-row--row:hover 
{ background-color: #f6f7f8 !important; }
/*.ss-gridfield-editable-row--reference td { border-top: 1px solid rgba(0, 0, 0, 0.1); }
.ss-gridfield-editable-row--row td { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }*/
.ss-gridfield-blockenhancements .ss-gridfield-item td,
.ss-gridfield-blockenhancements .ss-gridfield-editable-row--row td
{ border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
body .field.ss-gridfield .ss-gridfield-editable-row--fields .description,
body .ss-gridfield-editable-row--fields .htmleditor .middleColumn,
body .ss-gridfield-editable-row--fields .ss-uploadfield .middleColumn {
    margin-left: 0px;
    clear: left;
}
body .block-type .chzn-container {
	position:absolute;
}
body.cms fieldset.ss-gridfield-editable-row--fields table.ss-gridfield-table thead tr:not(.sortable-header) th button,
body.cms fieldset.ss-gridfield-editable-row--fields .middleColumn button {
	background-color: #e6e6e6;
	border:1px solid #c0c0c2;
}
body.cms fieldset.ss-gridfield-editable-row--fields table.ss-gridfield-table thead tr:not(.sortable-header) th button:hover,
body.cms fieldset.ss-gridfield-editable-row--fields .middleColumn button:hover {
	background-color: #d6D6D6;
	opacity:1;
	color:black !important;
	box-shadow:0 0 5px #b3b3b3;
}
/********/
.cms .ss-gridfield-editable-row--row .field {
	border-bottom:0;
}

.cms .ss-gridfield-editable-row--row h6, .cms .ss-gridfield-inline-new-extended--row h6 {
	padding: 5px
}

.cms .ss-gridfield-editable-row--row td>h6, .cms .ss-gridfield-inline-new-extended--row td>h6, .ss-gridfield-editable-row--fields h3[id] {
	background: #c2cdd4;
	border-bottom: #b6c3cb;
	padding: 10px;
	font-size: 13px;
	font-weight: 700
}

.cms .ss-gridfield-editable-row--row .field .TreeDropdownField, .cms .ss-gridfield-editable-row--row .field input.text, .cms .ss-gridfield-editable-row--row .field select,
	.cms .ss-gridfield-editable-row--row .field textarea, .cms .ss-gridfield-inline-new-extended--row .field .TreeDropdownField, .cms .ss-gridfield-inline-new-extended--row .field input.text,
	.cms .ss-gridfield-inline-new-extended--row .field select, .cms .ss-gridfield-inline-new-extended--row .field textarea {
	max-width: 452px !important
}

.cms table.ss-gridfield-table tbody td.ss-gridfield-editable-row--icon-holder {
	width: 1px
}

.cms .ss-gridfield-editable-row--row_hide {
	display: none
}

.cms .ss-gridfield-editable-row--loading * {
	opacity: .2 !important
}

.cms .ss-gridfield-editable-row--loading .ss-gridfield-editable-row--icon-holder {
	opacity: 1 !important;
	background: url(../../framework/admin/images/spinner.gif) center center no-repeat !important
}

.cms table.ss-gridfield-table tr td.ss-gridfield-editable-row--fieldsHolder {
	padding: 0
}

.cms .ss-gridfield-editable-row--row .ss-gridfield-editable-row--fields, .cms .ss-gridfield-editable-row--row .ss-gridfield-editable-row--fields .ss-gridfield,
	.ss-gridfield-editable-row--fields .ui-tabs .ui-tabs-panel {
	padding: 0
}

.cms .ss-gridfield-editable-row--row .field:not(:first-of-type) label.left{
	border-top: 1px solid #d0d3d5;
}
.cms .ss-gridfield-editable-row--fields h3[id] {
	margin: 0 !important;
	margin-top: 15px !important;
	background: #d1d9df
}

.cms .ss-gridfield-editable-row--fields .field span.readonly {
	padding-top: 8px !important
}
.cms .ss-gridfield-editable-row--reference:hover,
.cms .ss-gridfield-editable-row--reference+tr>.ss-gridfield-editable-row--fieldsHolder:hover
	{
	background-color: #fffad6 !important
}
.cms table.ss-gridfield-table tr td .mceEditor tbody {
    background-color: transparent
}

.cms table.ss-gridfield-table tr td .mceEditor tr:hover {
    background-color: transparent
}

.cms table.ss-gridfield-table tr td .mceEditor td {
    padding: 0
}
.cms .ss-gridfield-editable-row--row .ss-gridfield-editable-row--fields .field{
	margin-bottom: 15px; 
}

.cms .ss-gridfield-editable-row--fields .field .dropzone-holder {
    min-height:50px;
}
.cms .ss-gridfield-editable-row--fields .field .middleColumn,
.cms .ss-gridfield-editable-row--fields .field .dropzone-holder {
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
}

.cms table.ss-gridfield-table tbody td {
	max-width: inherit;
}

.cms fieldset.ss-gridfield-editable-row--fields table.ss-gridfield-table thead tr:not(.sortable-header) th button, 
.cms fieldset.ss-gridfield-editable-row--fields .middleColumn button {
    background-color: #e6e6e6;
    border: 1px solid #c0c0c2;
}

.cms fieldset.ss-gridfield-editable-row--fields .ui-tabs .ui-tabs-panel>*, 
.cms fieldset.ss-gridfield-editable-row--fields fieldset.ss-gridfield>:not(table), 
.cms fieldset.ss-gridfield-editable-row--fields>.field, 
.cms fieldset.ss-gridfield-editable-row--fields>.tabset:first-child:not(.ss-tabset-tabshidden)>.ui-tabs-nav+* {
	margin:initial;
}
.cms fieldset.ss-gridfield-editable-row--fields>.tabset:first-child:not(.ss-tabset-tabshidden)>.ui-tabs-nav+*{
	padding-top: initial;
}
.cms .ss-gridfield-editable-row--row fieldset.ss-gridfield-editable-row--fields fieldset.ss-gridfield {
	padding:10px 0 0;
}*/
.cms .ss-gridfield-editable-row--fields .optionset li{
	width: 189px; 
}
.cms .ss-gridfield-editable-row--fields>.tabset:first-child:not(.ss-tabset-tabshidden)>.ui-tabs-nav{
	margin: 0 0 7px;
	padding: 0;
}
.cms .ss-gridfield-editable-row--row fieldset.ss-gridfield-editable-row--fields {
	padding: 0 10px 0 10px;
}
.cms fieldset.ss-gridfield-editable-row--fields table.ss-gridfield-table tfoot tr:first-child td:first-child, 
.cms fieldset.ss-gridfield-editable-row--fields table.ss-gridfield-table tfoot tr:first-child td:last-child{
	border-radius: 0 0 5px 5px;
}
.cms fieldset.ss-gridfield-editable-row--fields table.ss-gridfield-table thead tr:first-child th:first-child, 
.cms fieldset.ss-gridfield-editable-row--fields table.ss-gridfield-table thead tr:first-child th:last-child {
	border-radius: 5px 5px 0 0;
}
.cms .ss-gridfield-add-new-multi-class { 
	position:absolute;
}
.cms .select2-selection__rendered img, .cms .select2-results img{
	max-width:32px;
}
.cms .ss-gridfield-blockenhancements .ss-gridfield-add-new-multi-class .select2-selection{
	min-height: auto;
	margin-top: 8px;
}
